h1 {
    background-color: #FF5733;
    color: #fff;
    text-transform: uppercase;
    padding: 100px 25px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 1.3em;

}

h1, h3, h5 {
    font-stretch: expanded;
}

h2, h4, h6 {
    font-style: italic;
}

p, th, ul {
    font-family: Times, serif;
    font-weight: bold;
    border: orange 5px solid;
}